@import url("https://fonts.googleapis.com/css?family=Newsreader");

.departamento {

    font-family: 'Newsreader';
    font-size: 19pt;
    color: #4684D6;
    margin-top: 1.5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
}


.titulo {

    font-size: 19pt;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;

}

.subtitulo {

    font-size: 15pt;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;

}

.texto {

    text-align: justify;
    font-size: 13pt;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;

}