@import url("https://fonts.googleapis.com/css?family=Newsreader");

* { margin: 0; padding: 0; box-sizing: border-box; }


header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 108px; ;
    max-width: 100%;
    background-color: #194281;

}


.logo {

    justify-content: left;
    font-family: 'Newsreader';
    font-size: 28pt;
    color: white;
    
}

.logo p {

    text-align: center;
    margin-left: 60px;
    margin-right: 25%;
}

.nav {
    
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 34px;
    max-width: 100%;
    background-color:#4684D6;
}

.nav button{

    font-family: 'Newsreader';
    font-size: 13pt;
    text-align: center;
    color:white;
    margin: auto;
    background-color:#4684D6;
    border: none;
    padding: 12px
}

.nav button:hover{

 background-color:#194281;

}

.search-bar input{

    border-radius: 25px;
    width: 368px;
    height: 32px;
    padding: 0px;
    background-color:#D9D9D9;
    margin-right: 15px;
    border: none;

}

.imagens {

    margin:auto;
    margin-top : 5%;
    height: 175px;
    width: 1018px;
    background-color: #D9D9D9;
}

.noticia1 {

    margin-left: 10px;
    margin-top : 5%;
    height: 314px;
    width: 249px;
    background-color: #D9D9D9;
}

.noticia2 {

    height: 314px;
    width: 249px;
    background-color: #D9D9D9;
}

.noticia3 {

    height: 314px;
    width: 249px;
    background-color: #D9D9D9;
}

.footer {

    background-color:#194281;
    height: 115px;
    width: 100%;
    color:white;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 100%;
}

